@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
    background-color: #F2F4FC;
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}


nav{
    position:relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1100px;
    height: 52px;
    left: calc(50% - 1100px/2);
    top: 70px;
}
.circle-logo{
    width: 60px;
    height: 18px;
}
.nav-links{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 45px;
    width: 295px;
    height: 22px;
    left: 374px;
    top: 15px;
    padding-left: 50px;
    padding-right: 50px;
}
.nav-links li {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    list-style: none;
}
.blue-link{
    color: #0082f3;
    
}

nav a {
    text-decoration: none;
    color: #6b708d;
}
.nav-button{
    background: #072AC8;
    width: 150px;
    height: 52px;
    left: 950px;
    top: 0px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    border-style: none;
}

/* hero section*/
.section-hero{
    padding-top: 150px;
    max-width: 1100;
    margin: 0 auto;
}
.container-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 150px;
}
/*section photos*/
.hero-pictures{
    display: flex;
    justify-content: center;
    position: relative;
}

.hero-photo{
    max-width: calc(var(--max-width) / 2);
    width: 67%;
    position: relative;
    top: 0;
    left: 0;
}
.card1-photo{
    width: 30%;
    position: absolute;
    top: 0;
    left: 10%;
    z-index: 2;
}
.card2-photo{
    width: 30%;
    position: absolute;
    top: 75%;
    left: 60%;
    z-index: 2;
}

/*section TEXTS*/
h2{
    font-family: 'Roboto', sans-serif;
    color: #292E47;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    text-transform: capitalize;
    white-space: pre-line;
    width: 530px;
    height: 210px;
}
p{
    font-family: 'Roboto', sans-serif;
    color: #6B708D;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 435px;
}
.hero-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
}
.cta-hero {
    display: inline-flex;
    align-items: center;
}
.header-button{
    background: #072AC8;
    width: 150px;
    height: 52px;
    left: 950px;
    top: 0px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    border-style: none;
}
.cta-text {
    padding: 30px;
    font-weight: 500;
    font-size: 17px;
}
/* logos section */
.client-section{
    padding-top: 150px;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
}
.logos {
    display: grid;
    grid-template-columns: repeat(5, 22.3%);
}
/* projects section */
h3{
    font-family: 'Roboto', sans-serif;
    color: #292E47;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 30px;
}
.projects-section {
    padding-top: 150px;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
}
.recent-projects{
    display: grid;
    grid-template-columns: repeat(3, 34.5%);   
}    
.project-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-picture{
    width: 340px;
    height: 240px;
}
.project-content{
    width: 340px;
    height: 100%;
    padding-bottom: 40px;
    background-color: white;
}
.project-content h4{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #292E47;
    padding-left: 25px;
}
.project-content p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #6B708D;
    padding-left: 25px;
}
.project-content a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    padding-left: 25px;
}
.testimonial-section{
    padding-top: 150px;
    max-width: 1320px;
    position: relative;
    height: 490px;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #292e47;
    background-image: url(./imagenes/orbit.png);
    background-position: center;
    background-size:contain;
}
.container-testimonial{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: -20%;
}

.testimonial-text h3{
    width: 621x;
    height: 47px;
    left: 240px;
    top: 0px;
    padding-bottom: 90px;
    font-family: 'Roboto', sans-serif;
    color: #F4F6FC;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}
.testimonial-text p{
    width: 596px;
    height: 76px;
    left: 256px;
    top: 151px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    text-align: center;
    color: #FFC600;
    padding-bottom: 150px;
}
.client {
    width: 171px;
    height: 50px;
    left: 465px;
    top: 332px;
    display: flex;
    align-items: center;
}
.client-picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.client-name h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #A2D6F9;
    display: inline;
    padding-left: 10px;
}
.client-name p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #F4F6FC;
    display: inline;
    padding-left: 10px;
}
/*memojis*/
.memoji-topleft{
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    margin-top: 5%;
    margin-left: 10%;
    background-image: url(./imagenes/memoji-1.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.memogi1 {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    margin-top: 3%;
    margin-left: 10%;
}
.memogi2 {
    width: 150px;
    height: 150px;
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    margin-top: 3%;
    margin-right: 10%;

}
.memogi3 {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0%;
    top: auto;
    right: auto;
    bottom: 0%;
    margin-bottom: 3%;
    margin-left: 10%;
    padding-left: 0%;

}
.memogi4 {
    width: 150px;
    height: 150px;
    position: absolute;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    margin-right: 10%;
    margin-bottom: 3%;
}