@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
    background-color: #F2F4FC;
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
/*TEXT STYLES*/
a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #6b708d;
}
p{
    font-family: 'Roboto', sans-serif;
    color: #6B708D;
    font-weight: 400;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #514D67;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}
h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
/*BUTTONS*/
button{
    background: #072AC8;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    border-style: none;
}
/*NAVIGATION BAR*/
.nav-bar{
    width: 100%;
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.circle-logo{
    width: 60px;
    height: 18px;
}
.nav-links{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 45px;
}
.nav-links li {
    list-style: none;
    font-weight: 500;
    font-size: 17px;
}
.blue-link{
    color: #0082f3;   
}

.nav-button{
    width: 150px;
    height: 52px;
}
/*NAV BAR RESPONSIVE DESIGN*/
@media (max-width:991px){
    .nav-bar {
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 50px;
  }
  .nav-links {
    display: none;
  }
  .nav-button{
    display: none;
}
}

/* HERO SECTION*/
.container-hero{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    margin: 0 0;
}
/*section photos*/
.hero-pictures{
    display: flex;
    justify-content: center;
    position: relative;
}

.hero-photo{
    width: 570px;
    height: 650px;
    position: relative;
    top: 0;
    left: 0;
}
.card1-photo{
    width: 40%;
    position: absolute;
    top: 0;
    left: -5%;
    z-index: 2;
}
.card2-photo{
    width: 40%;
    position: absolute;
    top: 75%;
    left: 75%;
    z-index: 2;
}

/*hero-text*/
h1{
    text-transform: capitalize;
    width: 530px;
    height: 210px;
}
p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 435px;
}
.hero-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
}
.cta-hero {
    display: inline-flex;
    align-items: center;
}
.header-button{
    width: 150px;
    height: 52px;
}
.cta-text {
    padding: 30px;
    font-weight: 500;
    font-size: 17px;
}
/*HERO SECTION RESPONSIVE DESIGN*/
@media (max-width:991px){
    .container-hero{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;} 
       /* width: 100%;
      }
      .hero-text{
        display: flex;
        flex-direction:column;
        justify-content: center;
      }*/
      .card1-photo{
        display: none;
      }
      .card2-photo{
        display: none;
      }
    }     

/* CLIENT SECTION */
.client-section{
    padding-top: 150px;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
}
.logos {
    display: grid;
    grid-template-columns: repeat(5, 22.3%);
}
/*CLIENT SECTION RESPONSIVE DESIGN*/
@media (max-width:991px){
    .amazon{
        display: none;
    }
    .logos{
        display: grid;
        justify-items: center;
        align-items: center;
        grid-column-gap: 50px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        grid-row-gap: 50px;
    }
}
/* RECENT PROJECTS */
.projects-section h3{
    color: #292E47;
    padding-bottom: 30px;
}
.projects-section {
    padding-top: 150px;
    max-width: 1100px; 
    margin-right: auto;
    margin-left: auto;
}
.recent-projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);   

}    
.project-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-picture{
    width: 340px;
    height: 240px;
}
.project-content{
    width: 340px;
    height: 100%;
    padding-bottom: 40px;
    background-color: white;
}
.project-content h4{
    color: #292E47;
    padding-left: 25px;
}
.project-content p{
    font-size: 17px;
    line-height: 150%;
    padding-left: 25px;
}
.project-content a{
    color: #072AC8;
    font-weight: 400;
    font-size: 17px;
    padding-left: 25px;
}
/*RECENT PROJECTS RESPONSIVE DESIGN*/
@media (max-width:991px){}
@media (max-width:767px){}

/*Testimonial section*/
.testimonial-section{
    padding-top: 150px;
    max-width: 1320px;
    position: relative;
    height: 490px;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #292e47;
    background-image: url(./imagenes/orbit.png);
    background-position: center;
    background-size:contain;
}
.container-testimonial{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: -20%;
}

.testimonial-text h3{
    width: 621x;
    height: 47px;
    left: 240px;
    top: 0px;
    padding-bottom: 90px;
    font-family: 'Roboto', sans-serif;
    color: #F4F6FC;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}
.testimonial-text p{
    width: 596px;
    height: 76px;
    left: 256px;
    top: 151px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    text-align: center;
    color: #FFC600;
    padding-bottom: 150px;
}
.client {
    width: 171px;
    height: 50px;
    left: 465px;
    top: 332px;
    display: flex;
    align-items: center;
}
.client-picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.client-name h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #A2D6F9;
    display: inline;
    padding-left: 10px;
}
.client-name p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #F4F6FC;
    display: inline;
    padding-left: 10px;
}
/*memojis*/
.memoji-topleft{
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    margin-top: 5%;
    margin-left: 10%;
}
.memogi1 {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    margin-top: 3%;
    margin-left: 10%;
}
.memogi2 {
    width: 150px;
    height: 150px;
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    margin-top: 3%;
    margin-right: 10%;

}
.memogi3 {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0%;
    top: auto;
    right: auto;
    bottom: 0%;
    margin-bottom: 3%;
    margin-left: 10%;
    padding-left: 0%;

}
.memogi4 {
    width: 150px;
    height: 150px;
    position: absolute;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    margin-right: 10%;
    margin-bottom: 3%;
}
/*Services*/

.services-section{
    padding-top: 150px;
    max-width: 1100px; 
    margin-right: auto;
    margin-left: auto;
}
.grid-services{
    display: grid;
    grid-template-columns: repeat(3, 340px); 
    grid-gap: 35px;
    height: 380px;
}
.service-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
}
.service-card h4{
    width: 269px;
    height: 28px;
    left: 960px;
    top: 267px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #292E47;
    padding-left: 10%;
}
.service-card p{
    width: 280px;
    height: 90px;
    left: 200px;
    top: 315px; 
    padding-left: 10%;
}
.service-card a{
    padding-left: 10%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
}
.service-icon1{
    width: 80px;
    height: 80px;
    margin-top: 40px;
    margin-left: 40px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-radius: 50%;
    background-image: url(./imagenes/1.svg);
    background-color: #ecf7ff;
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
}
.service-icon2{
    width: 80px;
    height: 80px;
    margin-top: 40px;
    margin-left: 40px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-radius: 50%;
    background-image: url(./imagenes/2.svg);
    background-color: #ecf7ff;
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
}
.service-icon3{
    width: 80px;
    height: 80px;
    margin-top: 40px;
    margin-left: 40px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-radius: 50%;
    background-image: url(./imagenes/3.svg);
    background-color: #ecf7ff;
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
}

/*CTA SECTION*/

.cta-section{  
    height: 100%;
    max-width: 1320px;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffc600;
}
.cta-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8%;
}
.cta-container h3{
    display: inline-flex;
    justify-content: center;
    color: #292e47;
    font-size: 40px;
    margin: 1px;
}
.cta-container p {
    display: inline-flex;
    justify-content: center;
    font-size: 17px;
    line-height: 0px;
    margin-top: 1px;
    margin-bottom: 50px;
}
.email-form{
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content:  space-evenly;
    align-items: center;
}

#email{
    width: 253px;
    height: 80px;
    background-color: #F4F6FC;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    background-image: url(./imagenes/mail.svg);
    background-position: 7% 50%;
    background-size: 30px;
    background-repeat: no-repeat;
    border-style: none;
    padding-left: 70px;
    padding-left: 70px;
}
.cta-button{
    background: #072AC8;
    width: 150px;
    height: 80px;
    left: 950px;
    top: 0px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    border-style: none;
}
/*footer*/
.footer-section{
    padding-top: 150px;
    padding-bottom: 80px;
    max-width: 1100px; 
    margin-right: auto;
    margin-left: auto;
}
.footer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer-content{
    width: 260px;
    height: 112px;
    left: 170px;
    top: 30px;
}
.footer-logo{
    width: 98.38px;
    height: 30px;   
}
.footer-paragraph{
    height: 52px;
    width: 260px;
    left: 170px;
    top: 90px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #6B708D;
}

.footer-links{
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 435px;
    height: 112px;
}
.footer-links a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #6B708D;
    
}